@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>My email : <a href="mailto:aldowoj@hotmail.com">aldowoj@hotmail.com</a><br />
</address>